body, form, ul, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body
{
	font-family: Ubuntu, Arial, sans-serif;
}


/**
 * Navigation
 */
#navigation
{
	float: left;
}

#navigation h1
{
	margin: 1em;
	font-size: 1.8em;
	color: rgb(92, 97, 102);
}

#navigation ul
{
	list-style: none;
	font-size: 1.2em;
}

#navigation li
{
	margin: .5em 0;
	padding-left: 1em;
	border-left: 6px solid transparent;
}

#navigation li a
{
	color: rgb(153, 153, 153);
	text-decoration: none;
	line-height: 1.5em;
}

#navigation li.selected
{
	border-left: 6px solid rgb(78, 87, 100);
}

#navigation li.selected a
{
	color: rgb(70, 78, 90);
}

#navigation li.about
{
	margin-top: 1.5em;
}


/**
 * Content
 */
#content
{
	margin-left: 20em;
}

#content header
{
	padding: 2em 0 .5em;
	border-bottom: 1px solid #eee;
}

#content h2
{
	color: rgb(48, 57, 66);
	font-size: 1.5em;
}

#content h3
{
	margin: 1em 0 .5em;
	font-size: 1.3em;
}

#content section
{
	margin: 1em 0;
}

#content section section
{
	margin-top: 1em;
	margin-left: 1em;
}

#content section p
{
	line-height: 2em;
}

#content label input[type=text]
{
	margin-left: 1em;
}

#content label input[type=checkbox]
{
	margin-right: .5em;
}

/* form validation */
#content input:focus:required:invalid
{
	background-color: pink;
}
#content input:required:valid
{
	background-color: #fff;
}


#content blockquote
{
	margin: 1em;
	padding: .5em;
	border-left: .5em solid #eee;
}


#content blockquote p
{
	padding: .5em:
}

#content blockquote cite a
{
	text-decoration: none;
}

#content dt
{
	float: left;
	width: 5em;
}

#content dd
{
	margin-bottom: .5em;
}

#content ul
{
	margin-left: 2em;
}

#content li
{
	line-height: 1.5em;
}

/* save button */
#content form div button
{
	margin-top: 2em;
}